<!-- header -->
<app-header  (onMenuBtnClick)="toggle()"></app-header>

<!-- ///side nav from angular material -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebarOpened">
<!-- side navbar -->
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        
<!-- dashboard -->
        <!-- user request anusarich page load aakan router out let kodukuka -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  


<!-- line idan divder -->

  <mat-divider></mat-divider>

<!-- footer -->
<app-footer></app-footer>