.cards{
 display:flex;
 justify-content:space-evenly;
 align-items: center;
 
}
.area{ margin: 20px 0px;}

.tablepie{
    display: flex;
    justify-content: space-between;
   

}
.icon{
    font-size: 45px;

}